@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F5FA;
}

/* styles del contenedor */
.calcutitle{
    text-align: center;
    padding-bottom: 2em;
}
.wcip-calculador{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contain-calculadora{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

/* font styles */
.heavyblackfont{
    color: #000;
}

.grayfont{
    color: #828282;
    font-weight: 400;
  }

.greenfont{
    color: #14DA13;
text-align: right;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 120% */
}

.blackfont{
    color: #000;
}

.tinygreen{
    color: #14DA13;
    font-size: 24px;
    font-weight: 400;
}

.tinygreenfont{
    color: #14DA13;
}
/* contenedor izquierdo */

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.text-monto{
    display: flex;
    flex-direction: space;
    justify-content: space-between;
    align-items: baseline;
}

.monto{
    display: flex;
    flex-direction: column;
        text-align: end;
}
.inputext{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: end; 
    border: 3px solid #14DA13;
    border-radius: 4px;
}

.containinput{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: end; 
    padding: 0px 12px;
}
#inversion-mount{
    color: #000;
text-align: right;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
}
.containinput p{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.redinput{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: end; 
    border: 3px solid #B70000;
    border-radius: 4px;
}
.redinput input[type='text']{
    font-family: 'Poppins', sans-serif;
    font-size: 16;
    font-weight: 600;
    border:none;
    text-align: right;
    background-color: transparent;
}
.redinput input[type='text']:focus{
    outline: none;
}

.inputext input[type='text']{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    text-align: right;
    background-color: transparent;
}

.inputext input[type="text"]:focus{
        outline: none;
      }


.monto p{
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.contenedorboton{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.contenedorboton .boton-verde a{
    background-color:var(--e-global-color-primary);
    border-radius: 10px
}

.contenedorboton .boton-verde a span {
    color:var(--e-global-color-text);
}

.btngreen{
    background-color: #14DA13;
    color: #2B2B2B;
    font-family: 'Poppins';
    font-weight: 700;
    border-radius: 10px;
    padding: 8px 32px;
    border: 1px solid #00CB1A;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
}

/* estilos input range */
.range-age{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
input [type='range']{
    width: 100%;
}

.custom-range {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #2B2B2B;
  }
  
  .custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: #14DA13;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
  }

  #years {
    position: absolute;
    top: 30px;
    margin-left: -2.3em;
    padding-left: 8px;
    font-size: 18px;
    line-height: 27px;
    color: #14DA13;
    padding-bottom: 1em;
  }

  .range-from{
    display: flex;
    flex-direction: column;

  }

  .desde-hasta{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* Aqui va la card con la tabla de porcentajes */
  .containtab-porcent{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 8px;
    padding: 1.5em 1.5em 0em 1.5em;
  }

  .titletab p{
    font-family: Poppins;
    font-weight: 600;
  }
  
  .tabla-de-porcentajes{
    width: 100%;
    border: 0;
  }

  .tabla-de-porcentajes th  td{
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .tabla-de-porcentajes  tr  td{
    border:0px;
    text-align: left;
    padding: 5px;
    margin: 0px;
   }
   
   .tabla-de-porcentajes th{
    border:0px;
    padding: 5px;
    margin: 0px;
   }

.tabla-de-porcentajes th {
        text-align: left;
}

  .tabla-de-porcentajes thead:first-child tr:first-child th{
    border-block-start:0;
    
   }

  td:first-child{
    text-align: left;
    font-weight: 600;
  }
/* Aquí van los resultados del input */

.contain-preresult{
    padding-top: 2em;
}
.inversion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.rendimiento-bruto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.monto-final{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.monto-final p{
    font-size: 20px;
    font-weight: 600;
}
  
  #rendimiento{
      width:max-content;
  }
/* contenedor derecho */

.right{
    width: 50%;
    border-radius: 16px;
    opacity: 0.699999988079071;
    background:  #FFF;
    border-radius: 16px;
    opacity: 0.699999988079071;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

.usd{
    color: #828282;
}

.contain-right{
    width: 95%;
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
}

.montoinversion{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: .8em;
}

.rendimientomensual{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.wcalcu-ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightmonto{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2px;
}

.wcalcu-list{
    width: 90%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    color: #828282;
    padding-bottom: 1.5em;
    gap: 10px;
}

.mensual{
    width: 90%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.anuales{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.valormonthvalue{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.greenporcent{
    color: #14DA13;
}

.totalreturn{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 6px;
}

.totalreturn p{
    width: max-content;
}
.lineagris{
    width: 100%;
    border: none;
    background: #828282;
    height: 1px;
}

.manageacount{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5em
}

.comision{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rendimientototal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.totalreturngreen{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: baseline;
}

#rendimientototal{
    width:max-content ;
}
/* ESTILOS CIRCULOS */

.grafica{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em
}

.progresscircle{
    transform: rotate(90deg);
}

.circletext{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contenttext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contenttext p{
    margin: 0;
    text-align: center;
}

/* Aqui editas el tamaÃ±o del circulo*/
#progress-bar {
    width: 300px;
    height: 300px;
  }


  #progress-bar circle {
    fill: none;
    stroke-width: 5;
  }

  #progress-text {
    font-size: 24px;
    text-anchor: middle;
    dominant-baseline: middle;
  }
  
  @media screen and (max-width: 1080px ) and (min-width: 780px){
      .contain-right{
    width: 95%;
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
}
  }
  
 @media screen and (max-width: 780px) and (min-width: 360px) {
     .contain-calculador{
         width: 100%;
         display:flex;
         justify-content:center;
         align-items:center;
     }
  .contain-calculadora{
      width:100%;
      display: flex;
      justify-content:center;
      flex-direction:column;
  }
  .left{
      display:flex;
      justify-content:center;
      width:100%;
  }
  
  .tabla-de-porcentajes tr td {
    padding: 0px;
}
  
  .text-monto{
      flex-direction:column;
  }
  
  .monto{
      width:100%;
  }
  
  
  .inputext{
      width:100%;
  }
  
  .containinput{
      width:100%;
  }
  .containtab-porcent{
      width:100%;
  }
  
  .right{
      width:100%;
  }
  
  #years{
      left:15px;
      padding-left:15px;
  }
  
  .wcalcu-list{
      width:100%;
  }
  .contain-right{
      width:90%;
      padding:0px;
  }
}